.TopBar {
    height: 30px;
    background-color: #d71e28;
    color: white;
    font-size: 25px;
    font-weight: 400;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 159px;
        padding-left:5px;
    }
}

.Instructions{
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}