.InvestmentItems {
    width: 100%;
}

.InvestmentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 350px;
}

.InvestmentItem-header {
    font-size: 50px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: wheat;
    border-top: 1px solid black;
}

.InvestmentItem-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 254, 248);
}

.detail {
    padding: 10px;
    font-weight: bold;
}

.split {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.value {
    padding-bottom: 20px;
}