<div class="TopBar">
    <div class="LeftSideBar">
        <img class="logo" src="https://www17.wellsfargomedia.com/assets/images/rwd/wf_logo_220x23.png"> 
        <span class="Title">Scan2Invest</span>
    </div>
    <div class="MenuItems">
        <span class="MenuItem">
            <input type="file" accept="image/*" id="selectFile" (change)="selectFile($event)" style="display: none"/>
            <label for="selectFile"><img class="UploadImage" src="https://th.bing.com/th/id/R.23df2e8fede2430a22a16db5f9984683?rik=RkZ8ixOYmiZLRg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_68231.png&ehk=R7gUacYeBjzZxsmgtXZ2TqXDnfAVjXUEfCbI0uv1oxU%3d&risl=&pid=ImgRaw&r=0"></label>
            </span>
    </div>
</div>