.TopBar {
    height: 30px;
    background-color: #d71e28;
    color: white;
    font-size: 25px;
    font-weight: 400;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 10px;
}

.Title {
    padding-left: 10px;
}

.MenuItems {
    display:flex;
    padding-right: 20px;
}

.MenuItem {
    padding-right: 20px;
}

.UploadImage {
    max-width: 35px;
    filter: invert(100%);
    padding-bottom: 5px;
    cursor: pointer;
}